{% extends "base.html" %}
{% load static %}

{% block content %}
    <!-- Hero/Header -->
    <section class="container-fluid">
        <div class="row hero-row">
            <div class="col-lg-6 col-md-12 bg--primary-dark-texture hero-col-left">
                <div class="hero-product-image">
                    <div class="hero-product-border text-center">
                        <img src="{{ MEDIA_URL }}home-hero-product.jpg" alt="Cbd oil tincture product image" class="hero-image">
                        <a href="{% url 'products' %}" class="button--link">Shop Products</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 home-hero">
                <h1 class="tagline">Caring For Your Body & Mind</h1>
                <span role="img" aria-label="Close up of a person applying cbd oil to their hand"></span>
            </div>
        </div>
    </section>
    <!-- End Hero/Header -->
    <!-- Categories -->
    <section id="purpose">
        <div class="container-fluid bg--secondary layout-pull">
            <div class="row">
                <div class="col-12 text-center white mt-5">
                    <h2 class="categories-section-title">To help find what you're looking for, choose from one of the icons below</h2>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- Icons from https://icons8.com/ -->
                    <ul class="category-icon-list">
                        <li class="category-icon-list-item">
                            <a href="{% url 'products' %}?category=health" class="category-icon-link">
                                <img src="{{ MEDIA_URL }}health.png" class="category-icon" alt="Illustration depicting mental health">
                                CBD For Health
                            </a>
                        </li>
                        <li class="category-icon-list-item">
                            <a href="{% url 'products' %}?category=beauty" class="category-icon-link">
                                <img src="{{ MEDIA_URL }}beauty.png" class="category-icon" alt="Illustration depicting beauty">
                                CBD For Beauty
                            </a>
                        </li>
                        <li class="category-icon-list-item">
                            <a href="{% url 'products' %}?category=pain" class="category-icon-link">
                                <img src="{{ MEDIA_URL }}pain.png" class="category-icon" alt="Illustration depicting pain">
                                CBD For Pain
                            </a>
                        </li>
                        <li class="category-icon-list-item">
                            <a href="{% url 'products' %}?category=relaxation" class="category-icon-link">
                                <img src="{{ MEDIA_URL }}relaxation.png" class="category-icon" alt="Illustration depicting relaxation">
                                CBD For Relaxation
                            </a>
                        </li>
                        <li class="category-icon-list-item">
                            <a href="{% url 'products' %}?category=sport" class="category-icon-link">
                                <img src="{{ MEDIA_URL }}sport.png" class="category-icon" alt="Illustration depicting sport">
                                CBD For Sport
                            </a>
                        </li>
                        <li class="category-icon-list-item">
                            <a href="{% url 'products' %}?category=tea_coffee" class="category-icon-link">
                                <img src="{{ MEDIA_URL }}tea_coffee.png" class="category-icon" alt="Illustration of a tea or coffee cup">
                                CBD Tea & Coffee
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- End of Categories -->
    <!-- About -->
    <section class="container-fluid mt-5">
        <div class="row">
            <div class="col-lg-6 col-md-12 about-col-image"></div>
            <div class="col-lg-6 col-md-12 about-copy-container white bg--primary-dark">
                <div class="about-copy">
                    <i class="fas fa-tint"></i>
                    <h3>Who are CBD Shield</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque cursus interdum magna efficitur dapibus. 
                        Pellentesque sed ultricies ligula, eget pretium dolor. Proin blandit, libero at aliquet malesuada, magna risus 
                        commodo augue, et eleifend quam urna et ligula.
                    </p>
                    <p>
                        Duis metus tellus, gravida posuere diam eu, ornare suscipit sapien. 
                        Nunc eu tempus lorem, eu venenatis tellus. Duis ac sem congue, accumsan nibh sit amet, egestas urna. Lorem ipsum dolor sit amet, 
                        consectetur adipiscing elit. Donec quis arcu libero. Cras a aliquam lacus.
                    </p>
                    <a href="#" class="button--link--alt">Discover More</a>
                </div>
            </div>
        </div>
    </section>
    <!-- End of About -->
    <!-- Newsletter -->
    <section class="container mt-5 bg--secondary container--border">
        <div class="row">
            <div class="col-12 newsletter-container">
                <div class="newsletter white text-center">
                    <h3>Want First Dibs?</h3>
                    <h4>Our subscribers receive exclusive offers, product releases and are the first to find out about our upcoming events</h4>
                    <form action="{% url 'add_user_signup' %}" method="POST" class="newsletter-signup">
                        {% csrf_token %}
                        <label for="newsletter_signup"></label>
                        <input type="email" name="newsletter_signup" id="newsletter_signup" class="newsletter-input" placeholder="Email Address">
                        <button type="submit" class="button">Sign Up</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- End of Newsletter -->
{% endblock %}