{% extends "base.html" %}
{% load static %}

{% block content %}
    <!-- Hero/Header -->
    <div class="container-fluid">
        <div class="row hero-row">
            <div class="col-lg-6 col-md-12 bg--primary-dark hero-col-left">
                <div class="hero-product-image">
                    <div class="hero-product-border text-center">
                        <img src="../../../media/home-hero-product.jpg" alt="" class="hero-image">
                        <a href="#" class="button--link">Shop Product</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 home-hero">
                <h1 class="tagline">Caring For Your Body & Mind</h1>
            </div>
        </div>
    </div>
    <!-- End Hero/Header -->
{% endblock %}