{% extends "base.html" %}
{% load static %}

{% block content %}
<section id="checkout-container">
    <div class="container-fluid bg--secondary">
        <div class="row">
            <div class="col text-center">
                <h1 class="products-title">Profile</h1>
                <hr class="title-divider">
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="clear-icons"></div>
        <div class="row">
            <div class="col-12 col-lg-5 offset-lg-1">
                <h3 class="mt-4 mb-4 profile-title">Delivery Information</h3>
                <form action="{% url 'profile' %}" method="POST" id="profile-update-form" class="text-center">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button class="button button--profile">Update Information</button>
                </form>
            </div>
            <div class="col-12 col-lg-5 offset-lg-1">
                <h3 class="mt-4 mb-4 profile-title">Order History</h3>
                {{ orders }}
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script src="{% static 'profiles/js/countryfield.js' %}"></script>
{% endblock %}
