/* Import Google Fonts */

@import url('https://fonts.googleapis.com/css2?family=Poiret+One&family=Raleway&display=swap');

/* Style Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::after,
*::before {
    box-sizing: border-box;
}

ol, ul {
    padding-left: 0!important;
}

label {
    display: block!important;
}

/* Global Styles */

:root {
    --primary: #9AE17A; /* Feigoa */
    --primary--dark: #6BBA62; /* Fern */
    --secondary: #327370; /* Oracle */
    --white: #fff;
    --body-color: #fbfefa;
    --title: "Poiret One", sans-serif;
    --body: "Raleway", sans-serif;
}

body {
    font-family: var(--body)!important;
    font-size: 16px;
    line-height: 1.5;
    background: var(--body-color)!important;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

body,html {
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: var(--title);
}

a {
    text-decoration: none!important;
    cursor: pointer;
    color: inherit!important;
    font-family: var(--body);
    font-size: 1.5rem;
}

a:hover,
a:focus {
    text-decoration: none;
}

@media (max-width: 700px) {
    a {
        font-size: 1.25rem;
    }
}

@media (max-width: 480px) {
    a {
        font-size: 1rem;
    }
}

img {
    max-width: 100%;
}

.text-center {
    text-align: center;
}

ul,li {
    list-style: none;
}

/* Utilities */

.bg--primary {
    background-color: var(--primary);
}

.bg--primary-dark {
    background-color: var(--primary--dark);
}

.bg--primary-dark-texture {
    background-color: var(--primary--dark);
    background-image: url('../../media/line-in-motion.svg');
}

.bg--secondary {
    background-color: var(--secondary);
}

.white {
    color: var(--white);
}

.container--border {
    border-radius: 8px
}

.button--link {
    display: inline-block;
    position: relative;
    border-bottom: 2px solid var(--primary);
    transition: all 250ms ease;
}

.button--link:before {
    font-family: "FontAwesome";
    content: '\f043';
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 0;
    top: 0;
    opacity: 0;
    height: 100%;
    width: 40px;
    transition: all 250ms ease-in-out;
    color: var(--primary);
}

.button--link:hover,
.button--link:focus {
    text-indent: -20px;
    padding: 0 2.75rem;
    border-bottom-color: transparent;
}

.button--link:hover:before,
.button--link:focus:before {
    opacity: 1;
    text-indent: 0px;
}

.button--link--alt {
    display: inline-block;
    position: relative;
    border-bottom: 2px solid var(--white);
    transition: all 250ms ease;
}

.button--link--alt:before {
    font-family: "FontAwesome";
    content: '\f061';
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 0;
    top: 0;
    opacity: 0;
    height: 100%;
    width: 40px;
    transition: all 250ms ease-in-out;
    color: var(--white);
}

.button--link--alt:hover,
.button--link--alt:focus {
    text-indent: -20px;
    padding: 0 2.75rem;
    border-bottom-color: transparent;
}

.button--link--alt:hover:before,
.button--link--alt:focus:before {
    opacity: 1;
    text-indent: 0px;
}

/* Code taken from https://codepen.io/foxeisen/pen/bqZxLa and customised for this project */

.button {
    background-color: var(--white);
    outline: none;
    border: 1px solid var(--white);
    font-family: var(--body);
    color: var(--secondary);
    font-size: 1.5rem;
    padding: 0.25rem 0;
    width: 8.375rem;
    border-radius: 8px;
    transition: all 0.3s linear 0s;
    display: inline-block;
    position: relative;
    overflow: hidden;
}

.button:before {
    content: "\f1d8";
    font-family: FontAwesome;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    right: -30px;
    width: 30px;
    height: 100%;
    background-color: var(--secondary);
    color: var(--white);
    border-radius: 0px 6px 6px 0px;
    transition: all 0.2s linear 0s;
    text-align: center;
}

.button:hover {
    text-indent: -30px;
}

.button:hover:before {
    right: 0;
    text-indent: 0px;
}

.button--cart {
    border: 2px solid var(--primary--dark);
    font-family: var(--body);
    color: var(--primary--dark);
    z-index: 300;
    padding: 0.5rem 1.25rem;
    width: 12rem;
}

.button--cart:before {
    content: "\f07a";
    background-color: var(--primary--dark);
}

@media (max-width: 992px) {
    .button {
        font-size: 1rem;
    }
}

@media (max-width: 300px) {
    .button {
        width: 10rem;
    }
}

.title-divider {
    color: var(--white);
    margin-bottom: 3.25rem;
    width: 20%;
    margin-left: auto;
    margin-right: auto;
    opacity: 1!important;
}

/* Nav */

.home-image-link {
    transition: opacity 0.3s ease-in-out;
}

.home-image-link:hover,
.home-image-link:focus {
    opacity: 0.7;
}

.navbar-brand {
    width: 20%;
}

.navbar-light .navbar-toggler {
    border-color: rgba(0,0,0,0)!important;
    color: rgba(0,0,0,0)!important;

}

/* Hamburger animation code taken and adapted from https://www.udemy.com/course/sass-the-complete-sass-course-css-preprocessor/ */

.hamburger-menu {
    width: 40px;
    height: 40px;
    position: relative;
    z-index: 300;
}

.menu {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    cursor: pointer;
    transition: transform .5s;
    transition: transform .5s, -webkit-transform .5s;
}

.menu-line {
    width: 100%;
    height: 4px;
    background-color: var(--primary--dark);
    transform-origin: right;
    transition: all .5s .5s;
}

.checkbox:checked ~ .navbar-navigation .navbar-navigation-left {
    left: 0;
}

.checkbox:checked ~ .navbar-navigation .navbar-navigation-right {
    right: 0;
}

.checkbox:checked ~ .hamburger-menu .menu {
    transform: rotateZ(90deg);
}

.checkbox:checked ~ .hamburger-menu .menu-line-1 {
    transform: rotateZ(-40deg);
}

.checkbox:checked ~ .hamburger-menu .menu-line-2 {
    opacity: 0;
}

.checkbox:checked ~ .hamburger-menu .menu-line-3 {
    transform: rotateZ(40deg);
}

.navbar-collapse {
    flex-grow: unset!important;
    margin-right: 2rem;
}

.nav-link {
    font-family: var(--title);
    font-weight: bold;
    letter-spacing: 0.75px;
    font-size: 1.75rem;
    color: var(--primary--dark)!important;
}

.nav-item,
.footer-nav-item {
    display: inline-flex;
    justify-content: center;
    position: relative;
    text-align: center;
}

.nav-item:after,
.footer-nav-item:after {
    content: '';
    position: absolute;
    width: 80%;
    transform: scaleX(0);
    height: 2px;
    bottom: 5px;
    background: var(--primary--dark);
    transform-origin: bottom right;
    transition: transform 0.3s ease-out;
}

.footer-nav-item:after {
    width: 100%!important
}

.nav-item:hover:after,
.nav-item:focus:after,
.footer-nav-item:hover:after,
.footer-nav-item:focus:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.dropdown-menu {
    border: 2px solid var(--secondary)!important;
    padding: 0!important;
}

.dropdown-toggle[aria-expanded="true"]:after {
    transform: rotate(180deg); 
}

.dropdown-toggle:after { 
    transition: 0.7s; 
}

.dropdown-item-parent {
    background-color: var(--body);
    transition: all 0.3s ease;
    color: var(--secondary)!important;
    padding: 0.5rem;
}

.dropdown-item-parent:not(:last-of-type) {
    border-bottom: 1.5px solid var(--secondary);
}

.dropdown-item-parent:hover,
.dropdown-item-parent:focus {
    background-color: var(--secondary);
    color: var(--white) !important;
}

.dropdown-item {
    background-color: transparent!important;
    font-family: var(--title);
    font-weight: bold;
}

.dropdown-divider {
    color: var(--secondary);
    height: 3px;
    opacity: 1;
}

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav .nav-link {
        padding: 1rem 2rem!important;
    }
}

@media (max-width: 992px) {
    .nav-item:after {
        width: 0;
    }

    .navbar-nav .dropdown-menu {
        margin-top: 46px!important;
    }
}

@media (max-width: 800px) {
    .navbar-brand {
        width: 30%;
    }
}

@media (max-width: 440px) {
    .navbar-brand {
        width: 45%;
    }
}

/* Search box code from https://codepen.io/ShortCode/pen/jOrBeOw and customised for this project */

.nav-search-box {
    background-color: var(--primary);
    border-radius: 8px;
    position: relative;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.nav-search-input {
    padding: 10px;
    width: 80px;
    height: 3.75rem;
    background: none;
    border: 4px solid var(--white);
    border-radius: 8px;
    box-sizing: border-box;
    font-size: 1.5rem;
    color: var(--white);
    outline: none;
    transition: .5s;
}

.nav-search-box:hover .nav-search-input, .nav-search-input:focus {
    width: 350px;
    background: transparent;
    border: 4px solid var(--white);
    border-radius: 8px;
}

.fa-search {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 26px;
    color: var(--white);
    transition: .2s;
}

.nav-search-box:hover .fa-search {
    opacity: 0;
    z-index: -1;
}

@media (max-width: 992px) {
    .nav-search-box {
        width: 100%;
    }

    .nav-search-input {
        width: 100%;
    }

    .nav-search-box:hover .nav-search-input {
        width: 100%;
    }

    .fa-search {
        left: unset;
        right: 5px;
    }

    .navbar-collapse {
        margin-right: 0;
    }
}

/* Home hero */

.hero-row {
    height: 80vh;
}

.hero-col-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home-hero {
    background: url('../../media/home-hero.jpg') no-repeat center;
    background-size: cover;
    position: relative;
    text-align: center;
}

.hero-product-image {
    width: 55%;
    margin: 0 auto;
}

.hero-image {
    border-radius: 8px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; /* code from https://getcssscan.com/css-box-shadow-examples */
}

.hero-product-border {
    background-color: var(--white);
    padding: 2rem;
    margin: 0 auto;
    border-radius: 8px;
}

.hero-product-border > a {
    margin-top: 1.25rem;
}

.tagline {
    color: var(--white);
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3rem;
    width: 100%;
    padding: 0 1.75rem;
}

@media (max-width: 992px) {
    .hero-row {
        height: 100%;
    }

    .home-hero {
        height: 40vh;
        order: 1;
    }

    .hero-col-left {
        height: 50vh;
        order: 2;
    }

    .hero-product-border {
        width: 55%;
        padding: 1rem;
    }

    .hero-product-border > a {
        margin-top: 0.75rem;
    }
}

@media (max-width: 700px) {
    .hero-product-border {
        width: 75%;
    }

    .hero-product-border > a {
        margin-top: 0.75rem;
    }
}

@media (max-width: 480px) {
    .hero-product-border {
        width: 100%;
    }
}

/* Home page categories/about section */

.categories-section-title {
    font-weight: bold;
    font-size: 2.5rem;
    padding: 0 1.5rem;
}

.category-icon-list {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 0.5fr 0.5fr; 
    gap: 2em 2em; 
    grid-template-areas: 
        ". . ."
        ". . ."; 
}

.categories-layout {
    padding-bottom: 20vh;
}

.layout-pull {
    margin-bottom: -12rem;
    padding-bottom: 20vh;
}

.category-icon-list-item {
    text-align: center;
    margin-top: 3rem;
    border: 1px solid var(--white);
    border-radius: 8px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 1.5rem;
    background-color: var(--white);
    transition: all 0.3s ease-in-out;
}

.category-icon-link {
    display: block;
}

.category-icon-list-item:hover,
.category-icon-list-item:focus {
    transform: translateY(-20px);
}


.category-icon {
    display: block;
    position: relative; 
    left: 50%;
    transform: translateX(-50%);
    margin: 1rem 0;
}

@media (max-width: 1440px) {
    .layout-pull {
        margin-bottom: -9.5rem;
    }
}

@media (max-width: 991px) {
    .category-icon-list {
        grid-template-columns: 1fr 1fr; 
        grid-template-areas: 
        ". ."
        ". ."; 
    }
}

@media (max-width: 600px) {
    .category-icon-list {
        grid-template-columns: 1fr; 
        grid-template-areas: 
        "."
        "."; 
    }

    .category-icon-list-item {
        margin-left: 2rem;
        margin-right: 2rem;
    }
}

@media (max-width: 480px) {
    .categories-section-title {
        font-size: 1.5rem;
    }

    .layout-pull {
        margin-bottom: -8rem;
    }

    .category-icon-list-item {
        margin-top: 1.5rem;
    }
}

/* About Section */

.about-col-image {
    background: url('../../media/cyclist-about.jpg') no-repeat center;
    background-size: cover;
}

.about-copy-container {
    padding: 6rem;
}

.about-copy {
    padding: 0 8rem;
}

.about-copy > * {
    margin-bottom: 2rem;
}

.about-copy > i {
    font-size: 3.25rem;
    animation: droplet 0.8s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

.about-copy > h3 {
    font-size: 2.5rem;
    border-bottom: 1px solid var(--white);
    font-weight: bold;
}

.about-copy > p:first-of-type {
    font-size: 1.5rem;
}

.about-copy > p:last-of-type {
    font-size: 1.15rem;
}

@keyframes droplet {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-35px);
        box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    }
}

@media (max-width: 1250px) {
    .about-copy {
        padding: 0 2.5rem;
    }
}

@media (max-width: 992px) {
    .about-col-image {
        height: 50vh;
        order: 2;
    }
}

/* Newsletter */

.newsletter-container {
    padding: 6rem 0;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background: url('../../media/medical.svg') no-repeat bottom 10px left 10px,
                url('../../media/medical.svg') no-repeat top 10px right 10px;
    background-size: 9rem;
}

.newsletter {
    padding: 0 4rem;
}

.newsletter > * {
    margin-bottom: 2rem;
}

.newsletter > h3 {
    font-size: 2.5rem;
    font-weight: bold;
}

.newsletter > h4 {
    font-family: var(--body);
}

.newsletter-signup {
    width: 100%;
}

.newsletter-input {
    display: block;
    margin: 1rem auto;
    width: 35%;
    padding: 0.5rem;
    border: 1px transparent var(--white);
    border-radius: 8px;
    outline: none;
}

.newsletter-input::placeholder {
    font-family: var(--body);
    padding-left: 0.1rem;
}

@media (max-width: 992px) {
    .newsletter-container {
        background-size: 5rem;
    }

    .newsletter-input {
        width: 80%
    }
}

@media (max-width: 480px) {
    .newsletter > h3 {
        font-size: 1.75rem;
    }

    .newsletter > h4 {
        font-size: 1.25rem;
    }

    .newsletter-input {
        width: 100%
    }
}

/* Product Overview Sort */

.products-sort-list {
    display: flex;
    justify-content: end;
    padding-right: 2.5rem;
}

.product-sort-link {
    color: var(--secondary)!important;
    font-family: var(--body)!important;
    font-size: 1.75rem;
    border: 2px solid var(--secondary);
    border-radius: 8px;
    padding: 0.5rem 1.25rem;
    background-color: var(--white);
}

.product-sort-item > .dropdown-menu {
    min-width: 14rem;
    border-radius: 8px
}

.product-sort-link.show {
    border-bottom-left-radius: 0;
}

.product-sort-item > .dropdown-menu.show {
    transform: translate3d(0px, 45px, 0px)!important;
    border-top-left-radius: 0;
}

.dropdown-item-parent {
    padding: 0.5rem 1.25rem;
}

.dropdown-product-sort-link {
    width: 100%;
}

@media (max-width: 767px) {
    .products-sort-list {
        justify-content: center;
        padding-right: 0;
    }
}

@media (max-width: 500px) {
    .product-sort-link {
        font-size: 1.25rem;
    }

    .product-sort-item > .dropdown-menu.show {
        transform: translate3d(0px, 35px, 0px)!important;
    }
}

@media (max-width: 380px) {
    .product-sort-item > .dropdown-menu {
        min-width: 10rem;
    }
}

/* Product Overview Card */

.products-title {
    color: var(--white);
    font-weight: bold;
    margin: 2.5rem 0;
}

.custom-card-wrapper {
    padding: 2rem;
}

.custom-card {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 8px;
    background-color: var(--white);
}

.product-category-badge {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 4rem;
    height: 4rem;
    border: 2px solid transparent;
    border-radius: 50%;
    background-color: var(--white);
    padding: 0.5rem;
    z-index: 100;
}

.product-card-link {
    z-index: 200;
}

.product-card-link:before {
    content: '';
    position: absolute;
    inset: 0;
    z-index: 100;
}

.product-card-image {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    transition: opacity 0.3s ease-in-out;
}

.card-overlay {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    position: relative;
    bottom: 15px;
    height: 6rem;
    overflow: hidden;
}

.card-content {
    padding: 1.5rem 1.5rem 0 1.5rem;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    background: var(--white);
    width: 100%;
    position: relative;
    bottom: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    z-index: 300;
}

.card-content, .card-content--first, .card-overlay {
    transition: 0.3s ease-in-out;
}

.custom-card:hover .card-content--first,
.custom-card:focus .card-content--first {
    margin-top: -7rem;
}

.custom-card:hover .card-content,
.custom-card:focus .card-content {
    background-color: transparent;
}

.custom-card:hover .product-card-image,
.custom-card:focus .product-card-image {
    opacity: 0.7;
}

.card-content--second {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: -80px;
    height: 3rem;
    margin-top: 1rem;
    background-color: var(--white);
}

@media (max-width: 1199px) {
    .custom-card-wrapper {
        padding: 0.5rem;
        margin-bottom: 1.5rem;
    }
}

@media (max-width: 370px) {
    .product-category-badge {
        width: 3rem;
        height: 3rem;
    }
}

@media (max-width: 288px) {
    .card-content--first > h5 {
        font-size: 1.35rem;
    }

    .card-content {
        padding: 1.5rem 0.5rem 0 0.5rem;
    }

    .card-overlay {
        height: 7rem;
    }
}

/* Single Product */

.single-category-icon {
    margin-bottom: 1rem;
}

.single-category-link {
    font-size: 1.25rem;
    border-bottom: 1px solid var(--white);
    transition: border-color 0.3s ease-in-out;
}

.single-category-link:hover,
.single-category-link:focus {
    border-bottom-color: var(--secondary);

}

.product-image {
    border-radius: 8px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.form--cart > input {
    display: block;
    padding: 0.5rem;
    width: 10%;
    margin: 0.75rem 0;
    border-radius: 8px;
    outline: none;
    border-color: var(--secondary);
}

.form--cart > input[type=number] {
    text-align: center;
    font-size: 1.25rem;
}

.form--cart > input:focus {
    border: 2px solid var(--primary--dark);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.form--cart > button {
    margin-top: 0.75rem;
    border: 2px solid var(--secondary);
    color: var(--secondary);
}

.form--cart > button:before {
    background-color: var(--secondary);
}

.single-product-price {
    font-size: 1.75rem;
}

.single-product-divider {
    color: var(--primary--dark);
    margin-left: auto;
    margin-right: auto;
    opacity: 1!important;
    height: 2px!important;
}

@media (max-width: 992px) {
    .form--cart > input {
        width: 25%;
    }
}

/* Footer */

footer {
    margin-top: 6rem;
    border-top: 2px solid var(--primary);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    color: var(--primary--dark);
}

footer h3 {
    border-bottom: 0.5px solid var(--primary--dark);
    font-weight: bold;
    padding-right: 0.5rem;
    padding-bottom: 0.75rem;
}

.footer-nav-container,
.footer-social-container {
    margin: 5rem 0 4rem 0 !important;
}

.footer-nav-container,
.footer-social-container {
    padding-right: 3rem!important;
}

footer img {
    margin-top: 5rem;
    margin-bottom: auto;
    width: 50%;
}

.footer-social-container ul {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.footer-social-container ul > li > a > i {
    transition: color 0.3s ease-in-out;
}

.footer-social-container ul > li:hover > a > .fa-instagram {
    color: #C13584;
}

.footer-social-container ul > li:hover > a > .fa-youtube {
    color: #FF0000;
}

.footer-social-container ul > li:hover > a > .fa-twitter {
    color: #1DA1F2;
}

.footer-icons {
    font-size: 3rem;
    margin-right: 2.5rem;
}

.footer-copyright {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-copyright > p {
    margin-top: 1rem;
}

.footer-copyright a {
    font-size: 1rem;
    border-bottom: 1px solid var(--primary);
    transition: border-color 0.3s ease-in-out;
}

.footer-copyright a:hover,
.footer-copyright a:focus {
    border-bottom-color: var(--white);
}

@media (max-width: 1100px) {
    footer img {
        width: 100%;
    }
}

@media (max-width: 767px) {
    footer img {
        width: 50%;
    }

    .footer-image-container {
        display: flex;
        justify-content: center;
    }
}

@media (max-width: 575px) {
    .footer-nav-container {
        margin-bottom: 0!important;
    }

    .footer-copyright {
        flex-direction: column;
    }

    .footer-copyright > p:first-of-type {
        margin-bottom: 0;
    }
}

@media (max-width: 480px) {
    footer img {
        width: 100%;
    }
}