/* Import Google Fonts */

@import url('https://fonts.googleapis.com/css2?family=Poiret+One&family=Raleway&display=swap');

/* Style Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::after,
*::before {
    box-sizing: border-box;
}

/* Global Styles */

:root {
    --primary: #9AE17A; /* Feigoa */
    --primary--dark: #6BBA62; /* Fern */
    --secondary: #327370; /* Oracle */
    --white: #fff;
    --body-color: #fbfefa;
    --title: "Poiret One", sans-serif;
    --body: "Raleway", sans-serif;
}

body {
    font-family: var(--body);
    font-size: 16px;
    line-height: 1.5;
    background: var(--body-color)!important;
}

body,html {
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: var(--title);
}

a {
    text-decoration: none!important;
    cursor: pointer;
    color: inherit!important;
    font-family: var(--body);
    font-size: 1.75rem;
}

a:hover,
a:focus {
    text-decoration: none;
}

img {
    max-width: 100%;
}

.text-center {
    text-align: center;
}

@media (max-width: 320px) {
    a {
        font-size: 1.25rem;
    }
}

/* Utilities */

.bg--primary-dark {
    background-color: var(--primary--dark);
    background-image: url(../../media/line-in-motion.svg);
}

.button--link {
    display: inline-block;
    position: relative;
    border-bottom: 2px solid var(--primary);
    transition: all 250ms ease;
}

.button--link:before {
    font-family: "FontAwesome";
    content: '\f043';
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 0;
    top: 0;
    opacity: 0;
    height: 100%;
    width: 40px;
    transition: all 250ms ease-in-out;
    color: var(--primary);
}

.button--link:hover,
.button--link:focus {
    text-indent: -20px;
    padding: 0 2.75rem;
    border-bottom-color: transparent;
}

.button--link:hover:before,
.button--link:focus:before {
    opacity: 1;
    text-indent: 0px;
}

/* Home hero */

.hero-row {
    height: 100vh;
}

.hero-col-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home-hero {
    background: url(../../media/home-hero.jpg) no-repeat center;
    background-size: cover;
    position: relative;
    text-align: center;
}

.hero-product-image {
    width: 75%;
    margin: 0 auto;
}

.hero-image {
    border-radius: 8px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; /* code from https://getcssscan.com/css-box-shadow-examples */
}

.hero-product-border {
    background-color: var(--white);
    padding: 4rem;
    margin: 0 auto;
    border-radius: 8px;
}

.hero-product-border > a {
    margin-top: 2.75rem;
}

.tagline {
    color: var(--white);
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3rem;
    width: 100%;
    padding: 0 1.75rem;
}

@media (max-width: 1200px) {
    .hero-product-border {
        padding: 2rem;
    }

    .hero-product-border > a {
        margin-top: 1.75rem;
    }
}

@media (max-width: 992px) {
    .home-hero {
        height: 50vh;
        order: 1;
    }

    .hero-col-left {
        height: 50vh;
        order: 2;
    }

    .hero-product-border {
        width: 55%;
        padding: 1rem;
    }

    .hero-product-border > a {
        margin-top: 0.75rem;
    }
}

@media (max-width: 700px) {
    .hero-product-border {
        width: 75%;
    }
}

@media (max-width: 480px) {
    .hero-product-border {
        width: 100%;
    }
}