<div class="container-fluid bg-light">
    <div class="row">
        <div class="col-xs-8 col-md-6 footer-image-container">
            <img src="../../media/logo-transparent.png" alt="Cbd Shield Logo">
        </div>
        <div class="col-md-3 col-sm-6 footer-nav-container">
            <h3>Page Links</h3>
            <ul>
                <li><a class="footer-nav-item" href="">Shop</a></li>
                <li><a class="footer-nav-item" href="">Events</a></li>
                <li><a class="footer-nav-item" href="">FAQ</a></li>
                <li><a class="footer-nav-item" href="">Contact</a></li>
            </ul>
        </div>
        <div class="col-md-3 col-sm-6 footer-social-container">
            <h3>Social Links</h3>
            <ul>
                <li><a class="footer-icons" href=""><i class="fab fa-instagram"></i></a></li>
                <li><a class="footer-icons" href=""><i class="fab fa-youtube"></i></a></li>
                <li><a class="footer-icons" href=""><i class="fab fa-twitter"></i></a></li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-12 bg--primary text-center footer-copyright">
            <p class="white">Site Design and Build <a href="https://github.com/liammcluckie">Liam McLuckie</a>&nbsp;&nbsp;</p>
            <p class="white">&#169; Copyright Cbd Shield <span id="copyright-year">2021</span></p>
        </div>
    </div>
</div>