{% load static %}

<!doctype html>
<html lang="en">

<head>

    {% block meta %}
    <!-- Meta tags -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="{{ MEDIA_URL }}apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ MEDIA_URL }}favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ MEDIA_URL }}favicon-16x16.png">
    <link rel="manifest" href="{{ MEDIA_URL }}site.webmanifest">

    {% block corecss %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    {% endblock %}

    {% block corejs %}
    <!-- Jquery :( -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" 
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" 
        crossorigin="anonymous">
    </script>
    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous">
    </script>
    <!-- Stripe -->
    <script src="https://js.stripe.com/v3/"></script>
    <!-- Font Awesome -->
    <script src="https://use.fontawesome.com/14abbb38af.js"></script>
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    <title>CBD Shield {% block extra_title %}{% endblock %}</title>
</head>

<body>
    <header>
        {% include 'includes/navigation.html' %}
        <!-- Cart & Profile links -->
        <div class="user-icons bg-light {% if request.get_full_path == '/' %} home-user-icons {% endif %}">
            <a href="{% url 'view_bag' %}">
                <i class="fas fa-shopping-cart {% if request.get_full_path == '/bag/' %} icon-active {% endif %}"></i>
                {% if grand_total %}
                    <p class="cart-total">
                        £{{ grand_total|floatformat:2 }}
                    </p>
                {% endif %}
            </a>
            <a href="profile">
                <i class="fas fa-user"></i>
            </a>
        </div>
        <!-- End of Cart & Profile links -->
    </header>
    {% if messages %}
        <div class="message-container">
            {% for message in messages %}
                {% with message.level as level %}
                    {% if level == 40 %}
                        {% include 'includes/toasts/toast_error.html' %}
                    {% elif level == 30 %}
                        {% include 'includes/toasts/toast_warning.html' %}
                    {% elif level == 25 %}
                        {% include 'includes/toasts/toast_success.html' %}
                    {% else %}
                        {% include 'includes/toasts/toast_info.html' %}
                    {% endif %}
                {% endwith %}
            {% endfor %}
        </div>
    {% endif %}

    {% block page_header %}
    {% endblock %}

    {% block content %}
    {% endblock %}

    {% block postloadjs %}
        <script>
            // Code from Richard Ash CI Student - See ReadMe.md/credits/code for reference
            let toastElList = [].slice.call(document.querySelectorAll('.toast'))
            let toastList = toastElList.map(function (toastEl) {
                let option = {
                    animation: true,
                    autohide: false,
                    delay: 5000,
                }
            let bsToast = new bootstrap.Toast(toastEl, option)
            bsToast.show();
            })
        </script>
    {% endblock %}

    {% block extra_js %}
        <script src="{% static 'js/script.js' %}"></script>
    {% endblock %}
    <footer>
        {% include 'includes/footer.html' %}
    </footer>

</body>

</html>