{% extends "base.html" %}
{% load static %}

{% block content %}
   <section class="container-fluid bg--secondary">
       <div class="row">
           <div class="col text-center">
               <h1 class="products-title">Products</h1>
               <hr class="title-divider">
           </div>
        </div>
    </section>
    <div class="container mt-5">
        <div class="clear-icons"></div>
        <!-- Sort Products -->
        <div class="row mb-4">
            <div class="col products-sort">
                <ul class="me-auto mb-2 mb-lg-0 products-sort-list">
                    <li class="product-sort-item dropdown">
                        <a class="product-sort-link dropdown-toggle" href="#" id="productSortDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Sort By
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="productSortDropdown">
                            <li class="dropdown-item-parent">
                                <a class="dropdown-product-sort-link" href="{% url 'products' %}?sort=price&direction=asc">Price - Low to High</a>
                            </li>
                            <li class="dropdown-item-parent">
                                <a class="dropdown-product-sort-link" href="{% url 'products' %}?sort=price&direction=desc">Price - High to Low</a>
                            </li>
                            <li class="dropdown-item-parent">
                                <a class="dropdown-product-sort-link" href="{% url 'products' %}?sort=category&direction=asc">Purpose</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <!-- End of Sort Products -->
        <div class="row">
           {% for product in products %}
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="custom-card-wrapper">
                        <div class="custom-card">
                            <img src="../../../media/{{ product.category }}.png" alt="Illustration displaying cbd for {{ product.category }}" class="product-category-badge">
                            <img src="{{ product.image.url }}" alt="{{ product.name }}" loading="lazy" class="product-card-image">
                            <a href="{% url 'single_product' product.id %}" class="product-card-link">
                                <div class="card-overlay">
                                    <div class="card-content">
                                        <span class="card-content--first">
                                            <h5>{{ product.name }}</h5>
                                            <p>£{{ product.price }}</p>
                                        </span>
                                        <span class="card-content--second">
                                            <form action="{% url 'add_to_bag' product.id %}" method="POST">
                                                {% csrf_token %}
                                                <label for="id_qty_{{ product.id }}"></label>
                                                <input type="number" name="quantity" value="1" data-item_id="{{ product.id }}" id="id_qty_{{ product.id }}" hidden>
                                                <input type="hidden" name="redirect_url" value="{{ request.path }}">
                                                <button type="submit" class="button button--cart">Add to Cart</button>
                                            </form>
                                        </span>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
           {% endfor %}
       </div>
    </div>
   </section>
{% endblock %}